<%- include('includes/header.ejs') %>

<body>
	<header class="main-header">
		<h1>Secured Payment</h1>
	</header>
	<main>
		<div>
			<h2>Payment Successful</h2>
			<p></p>
		</div>
		<div>
			<a href="http://localhost:3000/checkout/confirmation">Confirm</a>
		</div>
	</main>

	<%- include('includes/footer.ejs') %>
</body>
